<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.css" />
    <link rel="stylesheet" href="~/css/comments.css" />
    
</head>
<body class="d-flex flex-column align-items-center">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Products" asp-action="Index">Shop.App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Домой</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 d-flex flex-column align-items-center">
            @RenderBody()
        </main>
    </div>

    <footer class="footer col-10">
        <div class="footer__column">
          <div class="footer__column-title">Мы в соцсетях</div>
          <div class="footer__column-icons">
            <a href="#"><i class="fab fa-vk"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="footer__column">
          <div class="footer__column-title">Email:</div>
          <div class="footer__column-content">Email@email.com</div>
        </div>
        <div class="footer__column">
          <div class="footer__column-title">Время работы службы поддержки</div>
          <div class="footer__column-content">ПН-ПТ: 9:00 - 21:00</div>
        </div>
        <div class="footer__column">
          <div class="footer__column-title">Способы оплаты</div>
          <div class="footer__column-icons">
            <img src="~/icons/mastercard.svg" alt="mastercard" />
            <img src="~/icons/visa.svg" alt="visa" />
          </div>
          <div class="footer__column-text">
            Вы можете оплатить покупки наличными при получении.
          </div>
        </div>
      </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
